<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schooldianping.mapper.FollowMapper">

    <resultMap id="userAttention" type="com.schooldianping.model.UserAttention">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="following" property="following" />
    </resultMap>

    <select id="followAnyone" resultType="boolean">
        select count(*) > 0 from user_attention where id = #{id};
    </select>

    <select id="followingList" resultMap="userAttention">
        select * from user_attention where id = #{id};
    </select>

    <update id="addFollow">
        update user_attention
        set following = following || #{toId}
        where id = #{id};
    </update>

    <insert id="createFollow">
        insert into user_attention(id, following) values(#{id}, array[#{toId}]);
    </insert>

    <select id="alreadyFollowing" resultType="boolean">
        select count(*)>0 from user_attention where #{toId} = any(following) and id = #{id};
    </select>

</mapper>
