<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schooldianping.mapper.UserMapper">
    <insert id="createUser">
        insert into users(email, username, password) values (#{email}, #{username}, #{password})
    </insert>

    <select id="findById">
        select * from users where id = #{id}
    </select>

    <select id="checkDuplicate" resultType="boolean">
        select count(*) > 0 from users where email = #{email} or username = #{username}
    </select>

    <select id="getPasswordByEmailOrName">
        select password from users
        where
        <choose>
            <when test="#{isEmail} == true">
                email = #{nameOrEmail}
            </when>
            <otherwise>
                username = #{nameOrEmail}
            </otherwise>
        </choose>
    </select>
</mapper>